@import 'tailwindcss/utilities';

.ace-forge .ace_scrollbar::-webkit-scrollbar {
    width: 12px;
}

.ace-forge .ace_scrollbar::-webkit-scrollbar-track {
    background: #111827;
}

.ace-forge .ace_scrollbar::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
}

.ace-forge .ace_gutter {
    background: #1F2937;
    color: rgb(128, 145, 160)
}

.ace-forge .ace_print-margin {
    width: 1px;
    background: #555555
}

.ace-forge {
    background-color: #111827;
    color: #F9FAFB
}

.ace-forge .ace_cursor {
    color: #F9FAFB
}

.ace-forge .ace_marker-layer .ace_selection {
    background: rgba(179, 101, 57, 0.75)
}

.ace-forge.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #002240;
}

.ace-forge .ace_marker-layer .ace_step {
    background: rgb(127, 111, 19)
}

.ace-forge .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgba(255, 255, 255, 0.15)
}

.ace-forge .ace_marker-layer .ace_active-line {
    background: rgba(24, 182, 155, 0.10)
}

.ace-forge .ace_gutter-active-line {
    background-color: rgba(0, 0, 0, 0.35)
}

.ace-forge .ace_marker-layer .ace_selected-word {
    border: 1px solid rgba(179, 101, 57, 0.75)
}

.ace-forge .ace_invisible {
    color: rgba(255, 255, 255, 0.15)
}

.ace-forge .ace_keyword,
.ace-forge .ace_meta {
    color: #FF9D00
}

.ace-forge .ace_constant,
.ace-forge .ace_constant.ace_character,
.ace-forge .ace_constant.ace_character.ace_escape,
.ace-forge .ace_constant.ace_other {
    color: #FF628C
}

.ace-forge .ace_invalid {
    color: #F8F8F8;
    background-color: #800F00
}

.ace-forge .ace_support {
    color: #80FFBB
}

.ace-forge .ace_support.ace_constant {
    color: #EB939A
}

.ace-forge .ace_fold {
    background-color: #FF9D00;
    border-color: #F9FAFB
}

.ace-forge .ace_support.ace_function {
    color: #FFB054
}

.ace-forge .ace_storage {
    color: #FFEE80
}

.ace-forge .ace_entity {
    color: #FFDD00
}

.ace-forge .ace_string {
    color: #7cd827
}

.ace-forge .ace_string.ace_regexp {
    color: #80FFC2
}

.ace-forge .ace_comment {
    font-style: italic;
    color: #6B7280
}

.ace-forge .ace_heading,
.ace-forge .ace_markup.ace_heading {
    color: #C8E4FD;
    background-color: #001221
}

.ace-forge .ace_list,
.ace-forge .ace_markup.ace_list {
    background-color: #130D26
}

.ace-forge .ace_variable {
    color: #CCCCCC
}

.ace-forge .ace_variable.ace_language {
    color: #FF80E1
}

.ace-forge .ace_meta.ace_tag {
    color: #9EFFFF
}

.ace-forge .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHCLSvkPAAP3AgSDTRd4AAAAAElFTkSuQmCC) right repeat-y
}
